<VirtualHost *:*>
    ProxyPreserveHost On
    ProxyPass / http://0.0.0.0:3000/
    ProxyPassReverse / http://0.0.0.0:3000/
    ProxyReceiveBufferSize 16384

    ServerName rentascreenvr.com
    LimitRequestBody 0
    Timeout 1800
    ProxyTimeout 1800
    KeepAlive On
    KeepAliveTimeout 300

    <IfModule mod_reqtimeout.c>
        RequestReadTimeout body=600,MinRate=500
    </IfModule>

</VirtualHost>

<VirtualHost *:443>
    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/rentascreenvr.com/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/rentascreenvr.com/privkey.pem
    SSLSessionCacheTimeout 500

    ProxyPass / http://0.0.0.0:3000/
    ProxyPassReverse / http://0.0.0.0:3000/
    ProxyReceiveBufferSize 16384

    ServerName rentascreenvr.com
    LimitRequestBody 0
    Timeout 1800
    ProxyTimeout 1800
    KeepAlive On
    KeepAliveTimeout 300

    <IfModule mod_ssl.c>
        SSLCipherSuite HIGH:!aNULL:!MD5
        SSLProtocol all -SSLv2 -SSLv3
    </IfModule>

</VirtualHost>